.a {
	content: "";
}
.b

	() {
	content: "";
}
.c (@a, @b;@c) {
	content: "";
}
.d
	(@a: "{()}") {
	content: "";

	.e() {
		content: "";
	}
}
			#f(@hm: "broken highlighting in VS Code") {
	content: "";
}

.b();
.c(1, 2);
.c()
            ;
.test {
	.d();
}
